@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}





<div class="container">
    <h1 class="my-4">Bienvenidos</h1>
    <div class="row">
        @foreach (var p in ViewBag.Necesidades)
        {
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">@p.Nombre</h4>
                    <div class="card-body">
                        <p class="card-text">@p.IdNecesidad</p>
                        <p class="card-text">@p.Descripcion</p>
                        <p class="card-text">@p.Estado</p>

                        @if (p.Valoracion != null)
                        {
                            <p>aceptacion: @p.Valoracion%</p>
                        }
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Ver Detalle</a>
                    </div>
                </div>
            </div>
        }
        
    </div>
    <!-- /.row -->
</div>
