@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}

<section class="home" id="main-content">
    <section class="container">
        <h2><i class="fa fa-flag-o red"></i><strong>TU DONACIÓN CONSTRUYE</strong></h2>
        <h2 class="">
            <small>
                Lo recaudado será destinado para las zonas más
                afectadas y prioritarias del país, para construir más viviendas de emergencia y para financiar proyectos
                vinculados al acceso al agua cuando retome el trabajo en los territorios.
            </small>
        </h2>
        <div class="row">
            @foreach (var p in ViewBag.Necesidades)
            {
                <div class="col-lg-4 mb-4">
                    <a href="@("/necesidad/" + @p.IdNecesidad + "/detalle")" class="card h-100">
                        <h3 class="card-header"><strong>"@p.Nombre"</strong></h3>
                        <!--p>Creada por: @Session["email"]</!-p-->
                        <img src="../..@p.Foto" width="100%" height="auto" />
                        <div class="card-body">
                            <p class="card-title">@p.Descripcion</p>
                            <p class="card-text"><strong>Creada por:</strong> @p.Usuarios.Email</p>
                            <p class="card-text"><strong>Fecha de creación:</strong> @p.FechaCreacion</p>
                            <!--span class="badge">
                                @(p.TipoDonacion == 1 ? "Monetaria" : "Insumos")
                            </!-span-->
                        </div>
                        @if (p.Valoracion != null)
                        {
                            <div class="star-ratings-sprite">
                                <span style="width:@p.Valoracion%" class="star-ratings-sprite-rating"></span>
                            </div>
                        }
                    </a>
                </div>
            }
        </div>
      
    </section>
</section>
<br />
<br />
