@model Repositorios.Necesidades

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        @Html.ActionLink("Necesidades", "Index", "Necesidades", null, new { @class = "breadcrumb-item" })
    </li>
    <li class="breadcrumb-item active">Necesidades</li>
</ol>
<!--sidebar end-->
<!--main content start-->
<section id="main-content">
    <section class="container">
        @if (TempData["exito"] != null)
        {
            <h4>TempData["exito"]</h4>
        }
        <h2><i class="fa fa-flag-o red"></i><strong>Las necesidades mas valoradas</strong></h2>
        <div class="row">
            @if (ViewBag.misNecesidades != null)
            {

                foreach (var p in ViewBag.misNecesidades)
                {
                    <div class="col-lg-4 mb-4">
                        <a href="@(Session["email"] != null ? "/necesidad/@p.IdNecesidad/detalle" : "/login" )" class="card h-100">
                            <h4 class="card-header">@p.Nombre</h4>
                            <img src="../..@p.Foto" width="100%" height="auto" />
                            <div class="card-body">
                                <p class="card-text">@p.Descripcion</p>
                                <span class="badge">
                                    @(p.TipoDonacion == 1 ? "Monetaria" : "Insumos")
                                </span>
                            </div>
                            @if (p.Valoracion != null)
                            {
                                <div class="star-ratings-sprite">
                                    <span style="width:@p.Valoracion%" class="star-ratings-sprite-rating"></span>
                                </div>
                            }
                        </a>
                    </div>
                }
            }
        </div>
    </section>
</section>
