@model ayudandoALaPandemia.ViewModels.NecesidadDto

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        @Html.ActionLink("Necesidades", "Index", "Necesidades", null, new { @class = "breadcrumb-item" })
    </li>
    <li class="breadcrumb-item active">Detalle</li>
</ol>
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        @Model.nombre
    </h1>
    <!-- Portfolio Item Row -->
    <div class="row">
        <div class="col-md-8">
            <img class="img-fluid" src="../..@ViewBag.Necesidad.foto" width="700" height="500" />
            <h2>Lo que va de la Necesidad</h2>
            @if (Model.tipoDonacion == "Monetaria")
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Cantidad Juntada</th>
                            <th scope="col">Cantidad Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#</td>
                            @if (ViewBag.Total == Model.dinero)
                            {
                                <td><strike>$ @ViewBag.Total</strike></td>
                                <td><strike>$ @Model.dinero</strike></td>
                            }
                            else
                            {
                                <td>$ @(ViewBag.Total == 0 ? 0 : ViewBag.Total)</td>
                                <td>$ @Model.dinero</td>
                            }
                        </tr>
                    </tbody>
                </table>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Cantidad donada</th>
                            <th scope="col">Cantidad Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in Model.insumos)
                        {
                        <tr>
                            <td>#</td>
                            @if (p.finalizada == 0)
                            {
                                <td><strike>@p.nombre</strike></td>
                                <td>
                                    <strike>@p.cantidadDonada.ToString()</strike>
                                </td>
                                <td><strike>@p.cantidad</strike></td>
                            }
                            else
                            {
                                <td>@p.nombre</td>
                                <td>
                                    @p.cantidadDonada.ToString()
                                </td>
                                <td>@p.cantidad</td>
                            }
                        </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        <div class="col-md-4">
            <h3 class="my-3">Detalles</h3>
            <p>
                @ViewBag.Necesidad.descripcion
            </p>
            <ul>
                <li>Finaliza: @ViewBag.Necesidad.fechaFin</li>
                <li>Tipo de donación: @ViewBag.Necesidad.tipoDonacion</li>
                <li>Contacto: @ViewBag.Necesidad.telefono</li>
                <li>Creado por: @ViewBag.Necesidad.NombreUsuario @ViewBag.Necesidad.ApellidoUsuario </li>

                    <li>
                        <div class="star-ratings-sprite">
                            <span style="width:@ViewBag.Necesidad.estrellas%" class="star-ratings-sprite-rating"></span>
                        </div>
                    </li>
                
                <!--li>Total de donaciones: @ViewBag.Total</li-->
                <li>Total Me gusta: @ViewBag.TotalDeMeGusta</li>
            </ul>
            <div class="col-lg-12 mb-4 mt-4 card">
                <div class="card-body">
                    <div class="row">
                        <div id="@ViewBag.Necesidad.Id" class="idNecesidad" style="display: none"></div>
                        <div class="col-lg-6 searched-wrapper">
                            <a class="btn btn-md btn-secondary btn-block btn-like like @(ViewBag.Necesidad.valoracion != null && ViewBag.Necesidad.valoracion ? "isActive" : "")" href="#">
                                <ion-icon name="thumbs-up"></ion-icon>
                            </a>
                        </div>
                        <div class="col-lg-6 searched-wrapper">
                            <a class="btn btn-md btn-secondary btn-block btn-dislike dislike @(ViewBag.Necesidad.valoracion != null && !ViewBag.Necesidad.valoracion ? "isActive" : "")" href="#">
                                <ion-icon name="thumbs-down"></ion-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mb-4 mt-4 card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <a class="btn btn-md btn-warning btn-block" href="@("/necesidad/" + ViewBag.Necesidad.Id + "/Denunciar")">Denunciar</a>
                        </div>
                        <div class="col-lg-6">
                            <a class="btn btn-md btn-info btn-block"
                               href="
                                @(ViewBag.Necesidad.tipoDonacion == "Monetaria" ? "/necesidad/" + ViewBag.Necesidad.Id + "/donacionMonetaria"
                                :  "/necesidad/" + ViewBag.Necesidad.Id + "/donacionInsumos")">
                                Donar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
