@model ayudandoALaPandemia.ViewModels.NecesidadDto

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        @ViewBag.Necesidad.nombre
    </h1>


    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="../..@ViewBag.Necesidad.foto" width="700" height="500" />
        </div>

        <div class="col-md-4">

            <h3 class="my-3">Detalles</h3>
            <p>
                @ViewBag.Necesidad.descripcion
            </p>
            <ul>
                <li>Finaliza: @ViewBag.Necesidad.fechaFin</li>
                <li>Contacto: @ViewBag.Necesidad.telefono</li>
                <li>Creado por: @ViewBag.Necesidad.NombreUsuario @ViewBag.Necesidad.ApellidoUsuario </li>
                <li>Total de donaciones: @ViewBag.Total</li>
                <li>Total Me gusta: @ViewBag.Necesidad.valoracion</li>
            </ul>
            <div class="col-lg-12 mb-4 mt-4 card">
                <div class="card-body">
                    <div class="row">
                        <div id="@ViewBag.Necesidad.Id" class="idNecesidad" style="display: none"></div>
                        <div class="col-lg-6 searched-wrapper">
                            <div class="like @(ViewBag.Necesidad.valoracion != null && ViewBag.Necesidad.valoracion ? "active" : "not") invisible"></div>
                            <a class="btn btn-md btn-secondary btn-block btn-like" href="#"><ion-icon name="thumbs-up"></ion-icon></a>
                        </div>
                        <div class="col-lg-6 searched-wrapper">
                            <div class="dislike @(ViewBag.Necesidad.valoracion != null && !ViewBag.Necesidad.valoracion ? "active" : "not") invisible"></div>
                            <a class="btn btn-md btn-secondary btn-block btn-dislike" href="#"><ion-icon name="thumbs-down"></ion-icon></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mb-4 mt-4 card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <a class="btn btn-md btn-warning btn-block" href="@("/necesidad/" + ViewBag.Necesidad.Id + "/Denunciar")">Denunciar</a>
                        </div>
                        <div class="col-lg-6">
                            <a class="btn btn-md btn-info btn-block"
                               href="
                                @(ViewBag.Necesidad.tipoDonacion == "1" ? "/necesidad/" + ViewBag.Necesidad.Id + "/donacionMonetaria"
                                :  "/necesidad/" + ViewBag.Necesidad.Id + "/donacionInsumos")">
                                Donar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
<!-- /.container -->
