@model ayudandoALaPandemia.ViewModels.NecesidadDto

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Necesidad
        <small>Detalle</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Necesidad</li>
    </ol>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="http://placehold.it/750x500" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">@ViewBag.Necesidad.nombre</h3>
            <p>
                @ViewBag.Necesidad.descripcion
            </p>
            <h3 class="my-3">Project Details</h3>
            <ul>
                <li>Fecha de Fin </li>
                <li>Teléfono de Contacto</li>
            </ul>
        </div>

    </div>
    <!-- /.row -->
    <div class="row">

        <div class="col-lg-4 mb-4 mt-4">
            <div class="card h-100">
                <h3 class="card-header">Total de donaciones</h3>
                <div class="card-body">
                    <div class="display-4">Cantidad</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4 mt-4">
            <div class="card h-100">
                <h3 class="card-header">Total Me gusta</h3>
                <div class="card-body">
                    <div class="display-4">Cantidad</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4 mt-4 card">
            <div class="card-body">
                <div class="row">
                    <div id="@ViewBag.Necesidad.Id" class="idNecesidad" style="display: none"></div>
                    <div class="col-lg-4 searched-wrapper">
                        <div class="like @(ViewBag.Necesidad.valoracion != null && ViewBag.Necesidad.valoracion ? "active" : "not")"></div>
                        <a class="btn btn-md btn-secondary btn-block btn-like" href="#">Me gusta</a>
                    </div>
                    <div class="col-lg-4 searched-wrapper">
                        <div class="dislike @(ViewBag.Necesidad.valoracion != null && !ViewBag.Necesidad.valoracion ? "active" : "not")"></div>
                        <a class="btn btn-md btn-secondary btn-block btn-dislike" href="#">No me gusta</a>
                    </div>
                    <div class="col-lg-4">
                        <a class="btn btn-md btn-secondary btn-block" href="@("/necesidad/" + ViewBag.Necesidad.Id + "/altaDenuncia")">Denunciar</a>
                    </div>
                    <div class="col-lg-4">
                        <a class="btn btn-md btn-secondary btn-block"
                           href="
                            @(ViewBag.Necesidad.tipoDonacion == "1" ? "/necesidad/" + ViewBag.Necesidad.Id + "/donacionMonetaria"
                            :  "/necesidad/" + ViewBag.Necesidad.Id + "/donacionInsumos")">
                            Donar
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Related Projects Row -->
    </div>
</div>
<!-- /.container -->
