
<!DOCTYPE html>
<html>

<body>

    <div class="container body-content">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/buscador.js")
    @Scripts.Render("~/Scripts/crear_necesidad.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
