
@{
    ViewBag.Title = "_NecesidadesLayout";
}
@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}


    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="index.html">Ayudando a la pandemia</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <form class="input-group" id="form-search">
                                <input class="form-control" id="search-field" type="text" placeholder="Busca una necesidad" />
                            </form>
                        </li>


                        <li class="nav-item">
                            @Html.ActionLink("Crear Necesidad", "Login", "Home", new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Denuncias", "Login", "Home", new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Acerca de", "Login", "Home", new { @class = "nav-link" })
                        </li>
                        @if (Session["email"] == null)
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Iniciar sesión", "Index", "Login", new { @class = "nav-link" })
                            </li>
                        }
                        <!--@if (Session["email"] != null)
                        {
                            <li>
                                @Session["email"].ToString();
                            </li>
                        }
                        -->
                        @if (Session["email"] != null)
                        {
                            <li class="nav-item dropdown-toggle">

                                @Session["email"].ToString();
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                                    @Html.ActionLink("Mi Perfil", "Perfil", "Home", new { @class = "dropdown-item" })
                                    @Html.ActionLink("Mis Denuncias", "Perfil", "Home", new { @class = "dropdown-item" })
                                    @Html.ActionLink("Mis Donaciones", "Perfil", "Home", new { @class = "dropdown-item" })
                                    @Html.ActionLink("Salir", "Login", "Home", new { @class = "dropdown-item" })
                                </div>

                            </li>
                        }
                    </ul>
            </div>
            </div>
        </nav>
        <header>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <!-- Slide One - Set the background image for this slide in the line below -->
                    <div class="carousel-item active" style="background-image: url('../../Content/Template/img/img1.jpg')">
                        <div class="carousel-caption d-none d-md-block">
                            <h3></h3>
                            <p></p>
                        </div>
                    </div>
                    <!-- Slide Two - Set the background image for this slide in the line below -->
                    <div class="carousel-item" style="        background-image: url('../../Content/Template/img/img1.jpg')
">
                        <div class="carousel-caption d-none d-md-block">
                            <h3></h3>
                            <p></p>
                        </div>
                    </div>
                    <!-- Slide Three - Set the background image for this slide in the line below -->
                    <div class="carousel-item" style="        background-image: url('../../Content/Template/img/img1.jpg')
">
                        <div class="carousel-caption d-none d-md-block">
                            <h3></h3>
                            <p></p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </header>
        <!--header end-->

        @RenderBody()
        <div>
            @Html.Partial("~/Views/Shared/pv_Footer.cshtml")
        </div>
    </body>