@model List<Repositorios.Denuncias>
@{
    ViewBag.Title = "VerDenuncias";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";

    int i = 0;
}
    <br />
<h3 class="text-center">Denuncias</h3>

<br />
<br />
<div class="container-fluid">
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Motivo</th>
                <th scope="col">Link</th>
                <th scope="col">Comentarios</th>
                <th scope="col">Desestimar</th>
                <th scope="col">Aceptar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                @foreach (var item in Model)
                {
                <td>@i++</td>
                <td>@item.FechaCreacion</td>
                <td>@item.MotivoDenuncia</td>
                <a href="/Admin/linkDenucia/id?=@item.IdDenuncia"><td>link</td></a>
                <td>@item.Comentarios</td>
                <form action="/Admin/DesestimarDenuncia" method="post">
                    <input type="hidden" value="@item.IdDenuncia" />
                <td><input type="submit" />Desestimar</td>
                </form>
                <form action="/Admin/AceptarDenuncia" method="post">
                    <input type="hidden" value="@item.IdDenuncia" />
                    <td><input type="submit" />Aceptar</td>
                </form>
                
                }
            </tr>
        </tbody>
    </table>
</div>
<br />
<br />