@model Repositorios.Denuncias

@{
    ViewBag.Title = "Ver Denuncias";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";

    int i = 0;
}
@{
    var denuncias = ViewBag.Denuncias;
}

<h3 class="text-center">Denuncias</h3>

<br />
<br />
<div class="container-fluid">
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Motivo</th>
                <th scope="col">Link</th>
                <th scope="col">Comentarios</th>
                <th scope="col">Desestimar</th>
                <th scope="col">Aceptar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                @foreach (var item in ViewBag.Denuncias)
                {
                    <td>@i++</td>
                    <td>@item.FechaCreacion</td>
                    <td>@item.IdDenuncia</td>
                    <td><a href="/necesidad/@item.IdNecesidad/detalle">ir al detalle</a></td>
                    <td>@item.Comentarios</td>
                    <td>
                        @using (Html.BeginForm("DesestimarDenuncia", "Admin", FormMethod.Post))
                        {
                            @Html.TextBoxFor(m => m.IdDenuncia, new { type = "hidden", @Value = @item.IdNecesidad, @class = "form-control" })
                            <button type="submit" class="btn btn-md btn-secondary">Desestimar</button>
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("AceptarDenuncia", "Admin", FormMethod.Post))
                        {
                            @Html.TextBoxFor(m => m.IdDenuncia, null, new { type = "hidden", @Value = @item.IdNecesidad, @class = "form-control" })
                            <button type="submit" class="btn btn-md btn-secondary">Aceptar</button>
                        }
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>
<br />
<br />