@model Repositorios.Usuarios

@{
    ViewBag.Title = "Index Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{

    <div class="form-group">
        <div class="col-md-10">
            Email:
            @Html.LabelFor(m => m.Email)
            @Html.EditorFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)

            Password:
            @Html.LabelFor(m => m.Password)
            @Html.EditorFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
    @Html.ValidationSummary(true, "Clave o email incorrecto", new { @class = "text-danger" })

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

    <div>
        <a href="~/Registro/Index">¿No estas registrado? Hacé click acá.  </a>
    </div>
}
