@model Repositorios.Usuarios

@{
    ViewBag.Title = "Index Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{

    <div class="control-group form-group">
        <div class="controls">
            Email:
            @Html.LabelFor(m => m.Email)
            @Html.EditorFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="controls">
            Password:
            @Html.LabelFor(m => m.Password)
            @Html.EditorFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
    @Html.ValidationSummary(true, "errors", new { @class = "text-danger" })

    <div class="">
        <div class="">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>

    <div>
        <a href="~/Registro/Index">¿No estas registrado? Hacé click acá.  </a>
    </div>
}
