@model Repositorios.Usuarios

@{
    ViewBag.Title = "Index Login";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                    <span class="login100-form-title">
                        Iniciar sesion
                    </span>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                        <!--input class="input100" type="text" name="username" placeholder="Usuario"-->
                        @Html.TextBoxFor(m => m.Email, new { @class = "input100", placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email)
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Please enter password">
                        <!--input class="input100" type="password" name="pass" placeholder="Contraseña"-->
                       
                        @Html.TextBoxFor(m => m.Password, new { type = "password", @class = "input100", placeholder = "Contraseña" })
                        <!--@Html.EditorFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)-->
                        <span class="focus-input100"></span>
                    </div>
                    @Html.ValidationSummary(true, "errors", new { @class = "text-danger" })
                    <div class="text-right p-t-13 p-b-23">
                        <span class="txt1">
                            Olvidaste
                        </span>

                        <a href="#" class="txt2">
                            Usuario / Contraseña?
                        </a>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Iniciar sesión
                        </button>
                    </div>

                    <div class="flex-col-c p-t-170 p-b-40">
                        <span class="txt1 p-b-9">
                            ¿No tenés una cuenta?
                        </span>

                        <a href="~/Registro/Index" class="txt3">
                            Registrate
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

}
