@model Repositorios.Usuarios

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@using (Html.BeginForm("Index", "Registro", FormMethod.Post))
{
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                    <span class="login100-form-title">
                        Registrar
                    </span>
                    User:
                    @Html.EditorFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                    <br />
                    Mail:
                    @Html.EditorFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)

                    @if (ViewData["mailExiste"] != null)
                    {
                        @ViewData["mailExiste"];
                    }
                    <br />
                    Pass:
                    @Html.EditorFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                    <br />
                    ConfirmPass:
                    @Html.EditorFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)

                    <button class="login100-form-btn" type="submit">
                        Crear
                    </button>
                </form>

            </div>
        </div>
    </div>
}
